/* :root {
  --canvassize: 900; */
}

#inner-container {
  /* background-color: #8ED9FF; */
  background-color: #000000;
  width:800px;
  padding:20px;
  position:absolute;
}

#main-container {
  /* background-color: #8ED9FF; */
  background-color: #000000;
  width:auto;
  /* height: var(--canvassize); */
}


body {
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  /* color: black; */
  color: whitesmoke;
  background-color: #000000;
  text-align: left;
}

#title {
  font-size: 200%; 
}

#subtitle {
  font-size: 70%; 
}

#section {
  font-size: 50%; 
}

button {
  background-color: transparent;
  color:#FFD12C;
  border:solid black 5px;
  padding:10px;
  margin:10px;
  font-family: 'Rubik';
    font-size: 15px;
}

button:hover {
  background-color: transparent;
  color:#FFD12C;
  border:solid #FFD12C 5px;
}

button:disabled {
  opacity: 0.45;
  border-color: #555;
  color: #777;
  cursor: not-allowed;
}


/* NUEVOS */
#page-wrapper {
	padding-bottom:1px;
}



.LSwrapper {
  margin-top: -190px;
  display: flex;
  justify-content: center;
}

#logo {
  position: relative;
  top: -45px;
	/* z-index:1;
	top:0;
	left:0;
	width:300px; */
}

#logo a {
	display:block;
	width:50%;
	color:#fff;
	display:inline-block;
	font-weight:600;
	letter-spacing:3px;
	text-align:left;
	text-transform:uppercase;
}

#logo p{
    font-size: 20px;
}

#nav {
	margin-left:300px;
	text-align:left;
	position:absolute;
	top:0;
	left:0;
	/* width:50%; */
}

#nav > ul {
	margin:0;
}

#nav > ul > li {
	display:inline-block;
	margin-left:1em;
}

#nav > ul > li > ul {
	display:none;
}
h2 {
    font-size: 30px;
    font-weight: normal;
}
.instructions ol, li{
    color: #fff;
    font-size: 24px;
}

/* #playButton {
  margin-top: 50px;
} */

.botonPlay {
  position: relative;
  top: -70px;
}

.dials {
  position: relative;
  top: -40px;
}


#subtitle {
  position: relative;
  top: -50px;
}

.center {
  text-align: center;
}

a:link {
  color: white;
}

a:hover{
  color: red;
}


/* SPACES */

.spaceContainer {
  top: 0px;
  /* width: var(--canvassize); */
  /* height: var(--canvassize); */
  position: relative;
  margin: auto;
}
.box {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1.0;
  background: #0057e3;
}
.overlay {
  z-index: 9;
  margin: 0px;
  opacity: 0.25;
  background: #000000;
}

#LSVisualizer {
  padding: 0;
  display: block;
  /* width: var(--canvassize); */
  position: relative;
  top: 0px;
  background: #0d0d0d;
  outline: rgb(30, 30, 30) 2px solid;
}

/* KNOBS */

.outer-knobs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  color: white;
  margin: 10px auto;
  position: relative;
  text-align:center;
  top: -225px;
}

.knobs {
  height: 100px;
  width: 100px;
  margin: 20px;
}

.knob-text {
    margin-left: -5px;
    font-size: 15px;
    font: Rubik;
}

.instrument-row,
.utility-row {
  display: flex;
  justify-content: center;
  gap: 14px;
  flex-wrap: wrap;
  margin: 12px auto;
}

.instrument-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.instrument-control button,
.utility-row button {
  min-width: 90px;
  padding: 6px 12px;
  font-size: 14px;
}

.instrument-control select {
  background: #050505;
  color: #FFE188;
  border: 1px solid #FFE188;
  border-radius: 4px;
  padding: 2px 6px;
  font-family: 'Rubik', sans-serif;
  text-align-last: center;
  width: 70px;
  font-size: 13px;
}

.utility-row button {
  min-width: 150px;
}

#modelControls {
  margin: 18px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 16px;
}

#modelControls label {
  font-size: 18px;
  letter-spacing: 1px;
}

#modelControls select {
  background: #050505;
  color: #FFE188;
  border: 1px solid #FFE188;
  border-radius: 4px;
  padding: 4px 10px;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
}

.model-status {
  min-height: 20px;
  font-size: 14px;
  color: #FFE188;
}

.model-status--error {
  color: #FF6B6B;
}
